@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import model._
@import scalajs._

@(projects: Seq[Project], user: models.User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil)

<div id="scalajsShoutOut"></div>
@html.scripts(projectName = "client",
  name => s"/assets/$name",
  name => getClass.getResource(s"/public/$name") != null)

@main(messages("prj.list.title"), Some(user)) {
  @projects.map { prj =>
    <div class="card">
      <div class="container">
        <h3>@prj.name</h3>
        <p>@messages("prj.number"):  @prj.number</p>
        <p>@messages("prj.description"): @prj.description</p>
      </div>
    </div>
  }
}
