@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import model.Project
@import models.User
@import scalajs._

@(projects: Seq[Project], user: User)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil)

<head>
  @html.scripts(projectName = "client",
    name => s"/assets/$name",
    name => getClass.getResource(s"/public/$name") != null)

  <script>
    rph = rphApp();
  </script>
</head>

@main(messages("prj.list.title"), Some(user)) {
  <div class="card" ondrop="rph.drop(event)" ondragover="rph.allowDrop(event)">drop area</div>

  @projects.map { prj =>
    <div class="card" id="card_@java.util.UUID.randomUUID.toString" draggable="true" ondragstart="rph.drag(event)">
      <div class="container">
        <h3>@prj.name</h3>
        <p>@messages("prj.number"):  @prj.number</p>
        <p>@messages("prj.description"): @prj.description</p>
        <a href="/project/@prj.number">@messages("prj.goto")</a>
      </div>
    </div>
  }
}
