body {
    /*padding-top: 50px;*/
    font-size: 16px;
    background: #f5f7f9;
}

h1 {
    text-align: center;
    font-size: 30px;
}

.starter-template {
    padding: 40px 15px;
}

input, button {
    margin: 5px 0;
}

input:hover, input:focus {
    outline: 0;
    transition: all .5s linear;
    box-shadow: inset 0 0 10px #ccc;
}

fieldset {
    margin-top: 100px;
}

legend {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

a {
    cursor: pointer;
}

.provider {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    outline: none;
}
.facebook { background: #3B5998; }
.google { background: #D14836; }
.twitter { background: #00ACED; }
.yahoo { background: #731A8B; }
.xing { background: #006567; }
.vk { background: #567ca4; }

.social-providers,
.sign-in-now,
.already-member,
.not-a-member {
    text-align: center;
    margin-top: 20px;
}

.user {
    margin-top: 50px;
}
.user .data {
    margin-top: 10px;
}

.form-control {
    border-radius: 0;
}

[class^='ion-'] {
    font-size: 1.2em;
}

.has-feedback .form-control-feedback {
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #555;
}

.has-feedback .form-control {
    padding-left: 42.5px;
}

.btn {
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.btn-lg {
    font-size: 18px;
}

meter {
    /* Reset the default appearance */
    -moz-appearance: none;
    appearance: none;

    margin: 0 auto 1em;
    width: 100%;
    height: .5em;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter[value="0"]::-webkit-meter-optimum-value,
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

meter::-webkit-meter-even-less-good-value { background: red; }
meter::-webkit-meter-suboptimum-value { background: orange; }
meter::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar,
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: orange; }
meter[value="3"]::-moz-meter-bar { background: yellow; }
meter[value="4"]::-moz-meter-bar { background: green; }

meter::-webkit-meter-optimum-value {
    transition: width .4s ease-out;
}

/* Added for card project layout */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 300px;
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.footer-basic {
    padding:10px 0;
    background-color:lightblue;
    color:#4b4c4d;
}

.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic li {
    padding:0 10px;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}

.footer-basic ul a:hover {
    opacity:1;
}

.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}

.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}

.footer-basic .social > a:hover {
    opacity:0.9;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}

.register-photo {
    background:#f1f7fc;
    padding:80px 0;
}

.register-photo .image-holder {
    display:table-cell;
    width:auto;
    background:url('/assets/img/meeting.jpg');
    background-size:cover;
}

.register-photo .form-container {
    display:table;
    max-width:900px;
    width:90%;
    margin:0 auto;
    box-shadow:1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
    display:table-cell;
    width:400px;
    background-color:#ffffff;
    padding:40px 60px;
    color:#505e6c;
}

@media (max-width:991px) {
    .register-photo form {
        padding:40px;
    }
}

.register-photo form h2 {
    font-size:24px;
    line-height:1.5;
    margin-bottom:30px;
}

.register-photo form .form-control {
    background:#f7f9fc;
    border:none;
    border-bottom:1px solid #dfe7f1;
    border-radius:0;
    box-shadow:none;
    outline:none;
    color:inherit;
    text-indent:6px;
    height:40px;
}

.register-photo form .checkbox {
    font-size:13px;
    line-height:20px;
}

.register-photo form .btn-primary {
    background:#f4476b;
    border:none;
    border-radius:4px;
    padding:11px;
    box-shadow:none;
    margin-top:35px;
    text-shadow:none;
    outline:none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background:#eb3b60;
}

.register-photo form .btn-primary:active {
    transform:translateY(1px);
}

.register-photo form .already {
    display:block;
    text-align:center;
    font-size:12px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
}
