@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import forms.SignInForm.Data
@import b3.inline.fieldConstructor

@(signInForm: Form[Data], socialProviders: SocialProviderRegistry)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil)

@styles = {
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="@controllers.routes.Assets.at("styles/main.css")">
}

@rph.main(messages("sign.in.title"), None, Some(styles)) {
    <div class="login-clean">
        @helper.form(action = controllers.routes.SignInController.submit()) {
            @helper.CSRF.formField
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
            <div class="form-group">
                @b3.email(signInForm("email"), '_hiddenLabel -> messages("email"), 'placeholder -> messages("email"), 'class -> "form-control")
            </div>
            <div class="form-group">
                @b3.password(signInForm("password"), '_hiddenLabel -> messages("password"), 'placeholder -> messages("password"), 'class -> "form-control")
            </div>
            <div class="form-group">
                @b3.checkbox(signInForm("rememberMe"), '_text -> messages("remember.me"), 'checked -> true)
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">@messages("sign.in")</button>
            </div>

            <div>
                <p class="not-a-member">@messages("not.a.member") <a href="@controllers.routes.SignUpController.view">@messages("sign.up.now")</a> | <a href="@controllers.routes.ForgotPasswordController.view()" title="@messages("forgot.your.password")">@messages("forgot.your.password")</a></p>
            </div>

            @if(socialProviders.providers.nonEmpty) {
                <div class="social-providers">
                    <p>@messages("or.use.social")</p>
                    <div>
                    @for(p <- socialProviders.providers) {
                        <a href="@controllers.routes.SocialAuthController.authenticate(p.id)" class="provider @p.id" title="@messages(p.id)"><img src="@controllers.routes.Assets.at(s"images/providers/${p.id}.png")" width="32px" height="32px" alt="@messages(p.id)"></a>
                    }
                    </div>
                </div>
            }
        }
    </div>
}
