@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import forms.SignInForm.Data
@import scalajs._

@(
  signInForm: Form[Data],
  socialProviders: SocialProviderRegistry,
  user: Option[models.User] = None,
  cart: Option[ShopCart]
)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil)

@main(messages("cart.page.title"), signInForm, socialProviders, user, cart) {
  <script>
      function updateItem (event, drugId) {rphApp.updateCartItem ('Csrf-Token', '@helper.CSRF.getToken.value', event, drugId);}
  </script>

  <div class="jumbotron text-center">
    <p>@{messages("admin.description")}</p>
  </div>

  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#goods-upload">@messages("goods.load.title")</a></li>
      <li><a data-toggle="tab" href="#goods">@messages("goods.title")</a></li>
      <li><a data-toggle="tab" href="#groups">@messages("goods.groups.title")</a></li>
    </ul>

    <div class="tab-content">
      @* Upload goods *@
      <div id="goods-upload" class="tab-pane fade in active">
        @helper.form(action = routes.GoodsImportController.upload, 'enctype -> "multipart/form-data", 'name -> "fileinfo") {
          @helper.CSRF.formField
          <input type="file" name="fileinfo" class="fileuploader">
          <button type="submit" class="btn btn-primary">@messages("goods.upload.button")</button>
        }

        <div class="form-group">
          <label for="comment">@messages("upload.result")</label>
          <textarea class="form-control" rows="5" id="upload-res"></textarea>
        </div>

        <script>
            var form = document.forms.namedItem("fileinfo");
            form.addEventListener('submit', function(ev) {
              var oData = new FormData(form);
              var oReq = new XMLHttpRequest();
              oReq.open(form.method, form.action, true);
              oReq.onload = function(oEvent) {
                if (oReq.status == 200) {
                  $("textarea#upload-res").val(oReq.responseText);
                } else {
                  $("textarea#upload-res").val(oReq.status + "\n" + oReq.responseText);
                }
              };

              oReq.send(oData);
              ev.preventDefault();
            }, false);
        </script>
      </div>

      <div id="goods" class="tab-pane fade">
        <h3>HOME</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

      <div id="groups" class="tab-pane fade">
        <h3>@messages("goods.groups.title")</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>

  @html.scripts(projectName = "clientAdmin",
    name => s"/assets/$name",
    name => getClass.getResource(s"/public/$name") != null)
}