@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import org.webjars.play.WebJarsUtil
@import com.mohiva.play.silhouette.impl.providers.SocialProviderRegistry
@import forms.SignInForm.Data
@import scalajs._

@(
  signInForm: Form[Data],
  socialProviders: SocialProviderRegistry,
  user: Option[models.User] = None,
  cart: Option[ShopCart]
)(implicit request: RequestHeader, messages: Messages, webJarsUtil: WebJarsUtil)

@main(messages("cart.page.title"), signInForm, socialProviders, user, cart) {
  <script>
      function updateItem (event, drugId) {rphApp.updateCartItem ('Csrf-Token', '@helper.CSRF.getToken.value', event, drugId);}
  </script>

  <div class="jumbotron text-center">
    <p>@{messages("admin.description")}</p>
  </div>

  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#goods">@messages("goods.title")</a></li>
      <li><a data-toggle="tab" href="#groups">@messages("goods.groups.title")</a></li>
    </ul>

    <div class="tab-content">
      <div id="goods" class="tab-pane fade in active">
        <h3>HOME</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        @helper.form(action = routes.GoodsImportController.upload, 'enctype -> "multipart/form-data") {
          @helper.CSRF.formField
          <input type="file" name="data">
          <p>
            <input type="submit">
          </p>
        }
      </div>
      <div id="groups" class="tab-pane fade">
        <h3>@messages("goods.groups.title")</h3>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
  </div>

  @html.scripts(projectName = "clientAdmin",
    name => s"/assets/$name",
    name => getClass.getResource(s"/public/$name") != null)
}