@import play.api.i18n.Messages
@import models.ShopCart

@(cart: RemoteCart)(implicit messages: Messages)

<html>
    <body>
        <p>
            @messages("user.name"): @{cart.userName} <br/>
            @messages("user.phone"): @{cart.userPhone} <br/>
            @messages("user.mail"): @{cart.userMail} <br/>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>@{messages("drug.name")}</th>
                    <th>@{messages("drug.count")}</th>
                    <th>@{messages("drug.price")}</th>
                    <th>@{messages("drug.sum")}</th>
                    <th>@{messages("drug.producer")}</th>
                    <th>@{messages("drug.availableOnStock")}</th>
                    <th data-visible="false"></th>
                </tr>
            </thead>
            <tbody>
            @for(item <- cart.items) {
                <tr>
                    <td>@{item.drugName}</td>
                    <td>@{item.num}</td>
                    <td>@{item.price}</td>
                    <td>@{item.price * item.num}</td>
                    <td>@{item.producer}</td>
                    <td>@{if(item.availableOnStock > 0) messages("yes") else messages("no")}</td>
                </tr>
            }
            </tbody>

            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td>@{messages("cart.total")}</td>
                    <th><span class="totalStars">@{cart.items.foldLeft(0.0)((a, item) => {a + item.price * item.num})}</span></th>
                </tr>
            </tfoot>
        </table>
    </body>
</html>